<!DOCTYPE html>
<html lang="en" ng-app="superheroApp">
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="app.js" defer></script>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="superheroCtrl as vm">
  <!-- this is the add hero functionality -->
  <button ng-click="vm.show1()">Add a hero</button>
  <div ng-show="vm.sh1 == true">
    <p>Name</p>
    <input type="text" ng-model="vm.name"><br>
    <p>Phone</p>
    <input type="text" ng-model="vm.phone"><br>
    <p>Img_url</p>
    <input type="text" ng-model="vm.img_url"><br>
    <p>Affiliation</p>
    <input type="text" ng-model="vm.affiliation"><br>
    <button ng-click="vm.new()">add</button>
  </div>
  <br>

  <!-- this is the hero search functionality -->
  <input type="text" ng-model="vm.superheroSearch">
  <div ng-show="vm.superheroSearch" ng-repeat="superhero in vm.superheroes |filter: {name: vm.superheroSearch}">
    <p ng-class="superhero.affiliation"> {{superhero.name}} </p>
    <p> {{superhero.phone}} </p>
    <button ng-click="vm.click($index)">Click here for image.</button>
    <img ng-src={{superhero.img_url}} height='300px' width='200px' ng-show="vm.display == $index"></img>
    <br>
    <button ng-click="vm.show2($index)">Edit this hero</button>
    <div ng-show="vm.sh2 == $index">
      <p>Name</p>
      <input type="text" ng-model="vm.editname"><br>
      <p>Phone</p>
      <input type="text" ng-model="vm.editphone"><br>
      <p>Img_url</p>
      <input type="text" ng-model="vm.editimg_url"><br>
      <p>Affiliation</p>
      <input type="text" ng-model="vm.editaffiliation"><br>
      <button ng-click="vm.edit(superhero)">Edit</button>
    </div>
    <br>
  </div>
</body>
</html>
